.grow{
    flex-grow: 1;
}

#navbar{
    background: $primary-blue;
    height: 65px;
    @include sm{
        height: 70px;
    }
    .MuiToolbar-regular{
        padding: 0 16px;
        @include md{
        padding: 0 80px;
        }
        .menu-button{
            color: white;
            @include mr-10;
            display: block;
            @include lg{
                display: none;
            }
        }
        h2{
            font-size: $small-font;
            @include sm{
                font-size: $title-font;
            }
        }
        .logo-container{
            flex-grow: 0;
            @include lg{
                flex-grow: 1;
            }
            img{
                width: 82px;
                @include sm{
                    width: 85px;
                }
            }
        }
        .nav-menu-container{
            display: none;
            @include lg{
                display: block;
            }
            button{
                margin-left: 25px;
                text-transform: capitalize;
                color: white;
                border-radius: 0;
                transition: $transition-main;
                &:hover{
                    border-bottom: 2px solid white;
                    transition: $transition-main;
                }
            }
        }
    }
    
}