.grow{
    flex-grow: 1;
}
.flex-end{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#navbar{
    background: $dark-blue;
    height: 65px;
    @include sm{
        height: 70px;
    }
    .MuiToolbar-regular{
        padding: 0 16px;
        @include md{
        padding: 0 80px;
        }
        .menu-button{
            color: white;
            @include mr-10;
            display: block;
            @include xl{
                display: none;
            }
        }
        h2{
            font-size: $small-font;
            color: white;
            @include sm{
                font-size: $title-font;
            }
        }
        .navbar-title{
            text-decoration: none;
            color: white;
        }
        .logo-container{
            flex-grow: 0;
            @include xl{
                flex-grow: 1;
                position: absolute;
                left: 0;
                right: 0;
                display: flex;
                justify-content: center;            
            }
            img{
                width: 82px;
                @include sm{
                    width: 85px;
                }
            }
        }
        .nav-menu-container{
            display: none;
            @include xl{
                display: block;
            }
            a{
                text-decoration: none;
                &.active{
                    button{
                        border-bottom: 2px solid white;
                        transition: $transition-main;
                    }
                }
            }
            button{
                margin-left: 25px;
                text-transform: capitalize;
                color: white;
                border-radius: 0;
                transition: $transition-main;
                &:hover{
                    border-bottom: 2px solid white;
                    transition: $transition-main;
                }
            }
        }
    }
    
    
}.menu-container#fade-menu{
    top: 65px !important;
    a{
        text-decoration: none;
        color: $primary-blue;
    }
}