.blog-page{
    max-width: 1400px;
    margin: auto;
    @extend .container;
    .blog-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .blog-title{
            font-size: 2.4rem;
            font-weight: 600;
        }
        .meta-info{
            display: flex;
            justify-content: space-between;
            .author{
                padding-right: 12px;
                border-right: 1px solid;
            }
            .date{
                padding-left: 12px;
            }
            .author, .date{
                font-size: 1.2rem;
                color: rgba(0, 0, 0, 0.45);
            }
        }
    }
}