$primary-blue:#1CD1F6;
$dark-blue:#09275f;
$secondary-blue:#F1F9FF;
$primary-black:#252525;
$primary-grey:#707070;
$secondary-grey:#A09F9F;
$primary-white:#f0f0f0;
$secondary-white:#fafafa;
$primary-yellow:#FFC107;